body
{
    background-image: linear-gradient(to left, #4E9F3D, #D8E9A8);
    background-repeat: solid;
    margin: 0%;
}
hr 
{
    border-top: 5px dotted #1E5128;
}
#div1  
{
	background: #1E5128;
	border-radius: 15px;
    padding : 10px;
    color : white;
    position: absolute;
    top: 52%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#div2 
{
	background: #1E5128;
	border-radius: 15px;
    padding : 10px;
    color : white;
    position: absolute;
    top: 77%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
img
{
    border-radius: 60%;
    width: 125px;
    height: 120px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #D8E9A8;
padding: 10px;
float: none;
text-align: left;
}
#btn_2
{
    border: 3px solid #1E5128;
}
